body {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 100vh;
}

.section {
  height: 80vh;
  padding-left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 64px;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: flex-end;
  gap: 16px;
}

.nav-item {
  font-size: large;
  color: inherit;
  text-decoration: none;
  /* pointer-events: none; */
}
