body {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 100vh;
}

/* div {
  border: 1px solid black;
  box-sizing: border-box;
} */

p {
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: inherit;
  color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.section {
  min-height: 80vh;
  padding: 32px;
  align-items: center;
  gap: 32px;
}

.point {
  max-width: 600px;
}

.title {
  font-size: 64px;
}

.navbar {
  padding: 16px;
  justify-content: flex-end;
  gap: 16px;
}

.nav-item {
  font-size: large;
}

.footer {
  align-items: center;
  padding: 8px;
  gap: 4px;
}

.card {
  width: 300px;
  background: transparent;
}

.card-img {
  display: flex;
  width: 100%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.card-content {
  height: 150px;
}

.card-img > img {
  width: 100%;
}

.card > div {
  padding: 8px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
